/* Image Specifications */ 
img{
    height:400px; 
    width:400px; 
}

/* Services Display */
main{
    display: flex; 
    flex-flow: row wrap; 
    justify-content: space-around; 
    color: ivory; 
}

/* Body */
body{
    background: url(./images/background.jpg); /*Background image: ./public/images folder */
    font-family:'Open Sans',sans-serif; /*font is Open-Sans*/
}

/* Typography */

h1,h2{ /* For text in the <h1> and <h2> headers */
    color: ivory; 
    text-align: center 
}